.container {
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
